<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <div th:fragment="main_chat">
    <div class="main_chat">
      <div class="main_chat_header">
        <div class="about-chat-room">hogehuga</div>
        <a href="#" class="exit-chat">チャットを終了する</a>
      </div>

      <div class="main_chat_body">
        <div class="message-container" th:each="message : ${messages}">
          <div class="message">
            <div class="message-sender" th:text="${message.user.username}">
            </div>
            <div
              class="when"
              th:text="${#dates.format(message.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></div>
            </div>
          </div>
          <div class="message-text" th:text="${message.content}">
          </div>
        </div>
      </div>

      <form
        th:action="@{/rooms/{roomId}/messages(roomId=${roomId})}"
        method="post"
        th:object="${messageForm}"
        class="form"
      >
        <input
          type="text"
          th:field="*{content}"
          class="message-input"
          placeholder="type a message"
        />

        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden" />
        </label>
        <input type="submit" class="send-message" value="送信" />
      </form>
    </div>
  </div>
</html>
