<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <div th:fragment="side_bar">
    <div class="side_bar">
      <div class="side_bar_header">
        <div class="name">Tom</div>
        <a href="#" class="make-chat">チャットを作成する</a>
      </div>
      <div class="side_bar_body">
        <div class="chat-room-name">techroom1</div>
        <div class="chat-room-name">techroom2</div>
        <div class="chat-room-name">techroom3</div>
        <div class="chat-room-name">techroom4</div>
        <div class="chat-room-name">techroom5</div>
        <div class="chat-room-name">techroom6</div>
        <div class="chat-room-name">techroom7</div>
        <div class="chat-room-name">techroom8</div>
        <div class="chat-room-name">techroom9</div>
        <div class="chat-room-name">techroom10</div>
        <div class="chat-room-name">techroom11</div>
      </div>
    </div>
  </div>
</html>
