<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <div th:fragment="side_bar">
    <div class="side_bar">
      <div class="side_bar_header">
        <a
          th:href="@{/users/{userId}/edit(userId=${user.getId()})}"
          class="name"
          th:text="${user.getUsername()}"
          >ユーザ名
        </a>
        <div class="chat-room-name">
          <a th:href="@{/rooms/new}" class="make-chat">チャットを作成する</a>
        </div>
      </div>
      <div class="side_bar_body">
        <div th:each="room : ${rooms}" class="room">
          <div class="chat-room-name">
            <a
              th:href="@{/rooms/{roomId}/messages(roomId=${room.id})}"
              th:text="${room.name}"
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
